<footer class="footer py-3 mt-auto">
    <div class="container">
        <span >&copy; Myntra 2021</span>
    </div>
</footer>

<style>
    .footer {
        background-color: #E72744;
    }
</style>
