<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Myntra</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-link" href="/posts">Posts</a>
                <a class="nav-link" href="/posts/new">New Post</a>
                <a class="nav-link" href="/products/">Products</a>
                <a class="nav-link" href="/products/new">Add product</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else {%>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>
<style>
    .nav-link {
        padding: 0.25rem 0;
        font-weight: 700;
        color: white;
        margin-left: 1rem;
        border-bottom: 0.25rem solid transparent;
    }

    .nav-link:hover {
        color: white;
        border-bottom-color: white;
    }

    .nav-link.active {
        color: white;
        border-bottom-color: white;

    }
    .navbar {
        background:#E72744;
    }
</style>