<% layout('layouts/boilerplate') %>
<h1>Followers</h1>
<% for(let user of followers){ %> 
    <div><a href="/users/<%=user.username%> "><%=user.firstname + " " + user.secondname%> </a>
    </div>
        <% } %> 