<% layout('layouts/boilerplate') %>
<h1>Follow</h1>
<div class="col-3">
    <div class="card p-2 mb-2 vh-100">
        <% for(let user of users){ %> 
            <% if (user._id+' '!==currentUser._id+' ') { %>     
            <div class="mb-3">
                <a class="" href="/users/<%=user.username%> "><%=user.firstname + " " + user.secondname%></a>
                <form class="d-inline" action="/users/<%=user.username%>/follow" method="POST">
                    <button class="btn btn-primary btn-sm">Follow </button>
                </form>
            </div>
            <% } %> 
        <% } %> 
    </div>
</div>
