
<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center  mb-1">
  <div class="row">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-2">
          <div class="card shadow" style="width: 40rem;">
              <img src="https://images.unsplash.com/photo-1525562723836-dca67a71d5f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&h=500&q=80"
                  alt="" class="card-img-top" />
              <div class="card-body">
                  <h5 class="card-title">Register</h5>
                  <form action="/register" method="POST" class=" row g-3 needs-validation" novalidate> 
                    <div class="col-md-6">
                      <label class="form-label"for="firstname"> First Name </label>
                      <input class="form-control" type="text" id="firstname" name="firstname" required autofocus> 
                    </div>
                    <div class="col-md-6">
                      <label class="form-label"for="lastname"> Last Name </label>
                      <input class="form-control" type="text" id="lastname" name="lastname" required > 
                    </div>
                    <div class="col-md-6">
                      <label class="form-label"for="username"> Username </label>
                      <input class="form-control" type="text" id="username" name="username" required > 
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" for="email">Email</label>
                      <input class="form-control" type="email" id="email" name="email" required> 
                    </div>
                    
                    
                    <div class="col-md-6">
                      <label class="form-label" for="password">Password</label>
                      <input class="form-control" type="password" id="password" name="password" required>
                      
                      <input type="checkbox" onclick="myFunction()"> Show Password 
                     </div>
                     <div class="col-md-2">
                      <label class="form-label"for="age"> Age </label>
                      <input class="form-control" type="number" id="age" name="age" required  min="18" max="120"> 
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"for="gender"> Gender </label>
                        <select class="form-select" aria-label="Default select example" id="gender" name="gender">
                           
                            <option value="M" selected>Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                          </select>
                      </div>

                    
                   
                    
                    <button class="btn btn-success mb-2">Create Account</button>
                </form>
                <!-- <br> -->
                    <form action="\login" class="row g-3 validated-form" novalidate>
                        <button class="btn btn-info">Already Registered? Login</button>
                    </form>
                  
              </div>
          </div>
      </div>
  </div>

<script>
    (function () {
        'use strict'
      
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
      
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
      
              form.classList.add('was-validated')
            }, false)
          })
      })()
        </script>
    
       <script>
        function myFunction() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
       </script>