<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New post</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/posts" method="POST" enctype="multipart/form-data" >
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="description"
                    required></textarea>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add image(s)</label>
                <input class="form-control" type="file" id="formFileMultiple" name='image' multiple>
            </div>
            <input type="checkbox" id="isPrivate" name="isPrivate" value="Private">
            <label for="isPrivate"> Allow only followers </label><br>
            <div class="mb-3">
                <button class="btn btn-success">Add post</button>
            </div>
           
        </form>
        <a href="/posts">All posts</a>
    </div>
</div>