<% layout('layouts/boilerplate')%>

<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            
                    <img class="card-img-top" alt=""
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/2334181/2018/6/14/e381c9f4-4ddb-4828-ba51-eb1bcc9628451528967710986-MANGO-MAN-Men-Coats-9291528967710867-1.jpg">
                  
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                   New Post
                </h5>
                <form action="/posts" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="description"
                            required></textarea>
                    </div>
                    <div class="mb-3">
                         <label for="formFileMultiple" class="form-label">Add image(s)</label>
                        <input class="form-control" type="file" id="formFileMultiple" name='image' multiple>
                    </div>
                    <input type="checkbox" id="isPrivate" name="isPrivate" value="Private">
                    <label for="isPrivate"> Private Post </label><br>
                    <div class="mb-3">
                        <button class="btn btn-success">Add post</button>
                    </div>

                </form>
                <a href="/posts">All posts</a>
                
            </div>
        </div>
    </div>
</div>

    <style>
        body {
            background-color: #e9ecef;
            background-image: url("https://images.unsplash.com/photo-1535632787350-4e68ef0ac584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }
    </style>