<% layout('layouts/boilerplate') %>
<h1>Products</h1>
<div class="mb-3">
    <form class="d-inline mr-1" action="/products" method="GET">
        <input type="hidden" name="prsearch" value="1" /> 
        <button class="btn btn-info">Sort by Price(Low to High) </button>
    </form>
    <form class="d-inline mr-1" action="/products" method="GET">
        <input type="hidden" name="prsearch" value="2" /> 
        <button class="btn btn-info">Sort by Price(High to Low) </button>
    </form>
    <form class="d-inline mr-1" action="/products" method="GET">
        <input type="hidden" name="prsearch" value="3" /> 
        <button class="btn btn-info">Sort by Delivery Time </button>
    </form>
</div>
<% for (let product of products){%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <%if(product.images.length) {%>
                <img class="img-fluid" alt="" src="<%=product.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= product.name %> </h5>
                
                <p class="card-text">
                    <small class="text-muted">₹ <%= product.price%></small>
                </p>
                <a class="btn btn-primary" href="/products/<%=product._id%>">Buy Now</a>
            </div>
        </div>
    </div>
</div>
<% }%>