<% layout('layouts/boilerplate') %>
    <h1>Products</h1>

    <div class="mb-3">
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Sort By
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/products?prsearch=1">Price(Low to High)</a></li>
                <li><a class="dropdown-item" href="/products?prsearch=2">Price(High to Low)</a></li>
                <li><a class="dropdown-item" href="/products?prsearch=3">Delivery Time</a></li>

            </ul>
        </div>
    </div>
    <div class="row align-items-center">
        <% for (let product of products){%>
            <div class="col-md-4">
                <div class="card mb-3">
                    <%if(product.images.length) {%>
                        <img class="img-fluid" alt="" src="<%=product.images[0].url%>">
                    <% }else {%>
                        <img class="img-fluid" alt=""
                            src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                        <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text">
                                    <small class="text-muted">₹ <%= product.price%></small>
                                </p>
                                <a class="btn btn-primary" href="/products/<%=product._id%>">Buy Now</a>
                            </div>
                </div>
            </div>
        <% }%>
    </div>