<% layout('layouts/boilerplate') %>
<h1>Products</h1>

<% for (let product of products){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=product.image%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= product.name %> </h5>
                
                <p class="card-text">
                    <small class="text-muted">₹ <%= product.price%></small>
                </p>
                <a class="btn btn-primary" href="/products/<%=product._id%>">Buy Now</a>
            </div>
        </div>
    </div>
</div>
<% }%>