<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Add a Product</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/products" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input class="form-control" type="text" name="name" id="name" required autofocus>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price(INR):</label>
                <input class="form-control" type="number" name="price" id="price" required>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add image(s)</label>
                <input class="form-control" type="file" id="formFileMultiple" name='image' multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Product</button>
            </div>
        </form>
        <a href="/products">All Products</a>
    </div>
</div>