<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New post</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/products/<%= productid %> " method="POST" >
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="description"
                    required></textarea>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="images" name="images" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add post</button>
            </div>
           
        </form>
        <a href="/posts">All posts</a>
    </div>
</div>